---
new_page_extension: md
auto_deploy: false
admin_path: ".forestry"
webhook_url: 
sections:
- type: heading
  label: Configuration
- type: document
  path: content/english/_index.md
  label: Feature Settings
- type: heading
  label: English
- type: directory
  path: content/english
  label: Content
  create: documents
  match: "*"
  exclude: _*
- type: directory
  path: content/english/career
  label: Career
  create: documents
  match: "*"
- type: directory
  path: content/english/blog
  label: Blog
  create: documents
  match: "*"
- type: heading
  label: Static
- type: directory
  path: static
  label: HTML
  create: all
  match: "*"
  new_doc_ext: html
- type: document
  path: static/ads.txt
  label: ads.txt
- type: document
  path: static/.htaccess
  label: ".htaccess"
upload_dir: static/media
public_path: https://cmpsoares.com/media
front_matter_path: ''
use_front_matter_path: 
file_template: ":year:/:month:/:day:/:filename:"
build:
  preview_env:
  - HUGO_ENV=staging
  - HUGO_VERSION=0.81.0
  preview_output_directory: public
  preview_docker_image: forestryio/hugo:latest
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: hugo server -D -E -F --renderToDisk -d public
version: 0.81.0
