<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
	{{- partial "head.html" . -}}
	{{- partialCached "style.html" . -}}
</head>

<body>
	{{- partial "google_tagmanager_body.html" . -}}
	{{- partial "header.html" . -}}
	{{ if not .IsHome }}
	{{ partial "page-header.html" . }}
	{{ end }}
	{{- block "main" . }}{{- end }}
	{{ partialCached "subscription.html" . }}
	{{- partialCached "footer.html" . -}}
	{{- partialCached "script.html" . -}}
	{{- partial "tidio_chatbot.html" -}}
</body>

</html>